@media only screen and (max-width: 425px) {
 
    .login{
        width: 75%;}
      
    .second-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-left{
        width: 100%;
        
    }


    .customer-cards{
        width: 90%;
      }
      .customer-item{
        width: 90%;
      }

    .customer-cards{
        flex-direction: column;
    }
    /* .customer-cards img {
        width: 100px;
        height: auto;
    } */

   .driver-cards img{
    /* width: 140px; */
   }

   .customer-safety-cards{
    width: 75%;
   }

    .driver-cards{
        /* display: block; */
        /* width: 100%; */

    }


    .mission-content h3 {
        font-size: 18px; /* Decrease heading font size for smaller screens */
      }
      
      .mission-content p {
        font-size: 14px; /* Decrease paragraph font size for smaller screens */
      }

    .social-icons{
        flex-direction: row !important;
        margin-top: 15px;
    }
   
    .new-safety-card-container {
        flex-direction: column;
        align-items: center;
    }

    .new-safety-card {
        /* width: 250px; */
        width: 100%;
        height: auto;
    }

    .safety-top{
    /* flex-direction: column; */
    }
    .safety-top img{
        width: 200px;
    }

    .covers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .safety-page-heading{
        margin: 0px 20px;
    }

    
    .safety-text p{
width: 100%;
    }

    /* Advantages  */

   .adv-card {
    flex-direction: column;
    border: 0px;
    
    }

    .adv-card-img{
        height: 60px;
    }
    

.adv-card-title{
    font-size: 12px;
}

.single-service-area h5 {
    font-size: 12px;
}

    /* Initiative  */

    .first-details {
        font-size: 14px;
    }

    .methods{
        flex-direction: column;
    }
    .method-card {
     width: auto;}

     .method-card img {
        width: 100%;
        margin: 20px;
        /* object-fit: cover; */
    }

    .method-card p {
        padding: 0px 15px;
        font-size: 15px;
    }

        .planting-section p {
            font-size: 15px;
            padding: 0 8px;
        }
    .initiative-top{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 22px;
        text-align: center;
    }

    .initi-img{
        height: 200px;
    }

    .planting-section p,h1{
        padding-left: 0;
      }
}


@media only screen and (max-width: 390px) {
    .first-details{
        font-size: 13px;
    }
}

@media only screen and (max-width: 370px) {
    .adv-section{
      flex-direction: column;
      align-items: center;
    }

    .adv-card{
        width: 70%;
    }
}

@media only screen and (max-width: 330px) {
    .first-details {
        font-size: 11px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 400px) {
    .banner-btn-1{
      font-size: 13px !important;
      padding: 5px 12px !important;
    }
    .banner-btn-2{
      font-size: 13px !important;
      padding: 5px 12px !important;
    }
    .single-welcome-slide .welcome-text h5 {
      margin-bottom: 20px;
  }
  }