@media only screen and (max-width: 768px) {

    h2{
        font-size: 35px !important;
    }
    .second-top{
        flex-direction: row;
    }

    .top-right img {
        height: auto;
        width: 250px;
    }

    .safety-top{
        justify-content: end;
        align-items: center;
    }
     .safety-img img{
        width: 120px !important;
    }
    .customer-cards ,.driver-cards{
        flex-direction: column;
        
    }
    .cust-box-1,
    .cust-box-2,
    .cust-box-3 ,
    .driver-box-1,
    .driver-box-2,
    .driver-box-3,
    .driver-box-4 {
      width: fit-content; 
    }

    .card img{
        height: 100px;
        width: 100px;
    }

    .safety-text{
        padding: 0px;
    }

    .text-shrink{
        padding: 0 30px;
    }

    /* Advantages  */

   .adv-card {
flex-direction: column;
border: 0px;
    }
    .adv-card-title{
        text-align: center;
    }

    /* Initiative  */

    .methods{
        justify-content: center;
    }

    .method-card img {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
    .method-card p {
        text-align: center;
        /* padding: 0px 50px */
    }

    .methods-desc{
        padding: 0px;
    }


  
  }