.rydr-faq-area .arrow-icon {
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  height: 20px;
}

.rydr-faq-area .faq-main .active .arrow-icon svg {
  color: var(--theme-clr);
}

.rydr-faq-area .faq-qn {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  line-height: 1.2;
}

.rydr-faq-area .tab-content .card-body {
  padding: 34px;
}

.rydr-faq-area .nav-link,
.rydr-faq-area a {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 0;
}
.faq-link-area {
  background: var(--theme-clr);
  color: black;
}

.faq-link-area .arrow_right {
  font-size: 30px;
}
.rydr-faq-area a {
  border: 1px solid #dee2e6;
  border-radius: 0px;
}

.rydr-faq-area .faq-main {
  display: flex;
}

.rydr-faq-area .faq-main .nav-tabs {
  border: 0;
}

.rydr-faq-area .faq-main .nav-tabs .nav-item {
  width: 100%;
}

.rydr-faq-area .faq-main .nav-tabs .nav-item .nav-link:hover,
.rydr-faq-area .faq-main .nav-tabs .nav-item .nav-link:focus {
  border-radius: 10px 0 0 10px;
}

.rydr-faq-area .faq-main .tab-content {
  z-index: 2;
  border-radius: 10px;
  border: 1px solid #dee2e6;
}

.rydr-faq-area .card-body .faq-qn-1 {
  padding-bottom: 20px;
}

.rydr-faq-area .faq-main hr {
  margin-bottom: 20px;
}

.nav-tabs {
  display: none;
  padding: 20px 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-radius: 10px 0px 0px 10px !important;
  border-color: #dee2e6 #ffffff #dee2e6 #dee2e6;
}

.faq .breadcrumb-area .title-1 {
  display: none;
}

.faq .container {
  padding-right: 15px;
  padding-left: 15px;
}

@media(min-width:768px) {
  .nav-tabs {
    display: flex;
  }

  .card {
    border: none;
  }

  .card .card-header {
    display: none;
  }

  .card .collapse {
    display: block;
  }

  .rydr-faq-area .circle-r {
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid var(--theme-clr);
    margin-right: 10px;
    margin-right: 18px;
  }

  .rydr-faq-area .faq-main .active .circle-r {
    background-color: var(--theme-clr);
  }

}

@media only screen and (max-width: 1024px) {

  .rydr-faq-area .container,
  .faq-link-area .container {
    padding-right: 15px;
    padding-left: 15px;
  }


}

@media only screen and (max-width: 767px) {
  .tab-content>.tab-pane {
    display: block !important;
    opacity: 1;
  }

  .rydr-faq-area .faq-main .tab-content {
    border: 0px;
    padding: 0px;
  }

  .faq .breadcrumb-area .title-1 {
    display: block;
  }

  .faq .breadcrumb-area .title {
    display: none;
  }

  .rydr-faq-area .tab-content .card-body p,
  .rydr-faq-area .faq-main hr {
    display: none;
  }

  .rydr-faq-area .circle-r {
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid var(--theme-clr);
    background-color: var(--theme-clr);
    margin-right: 10px;
  }

  .rydr-faq-area .faq-main .collapsed .circle-r {
    background-color: #ffffff;
  }

  .rydr-faq-area .arrow-icon svg {
    transform: rotate(90deg);
  }

  .rydr-faq-area .faq-main .collapsed .arrow-icon svg {
    transform: rotate(-90deg);
  }

}